/JavaProjects/src/main/java/06-ObjectsClasses_Practice1/build/
/JavaProjects/src/main/java/06-ObjectsClasses_Practice1/nbproject/private/
/JavaProjects/target/
/classwork_javaA/NestedClassExamples/nbproject/private/
/classwork_javaA/NestedClassExamples/build/
/classwork_javaA/EnumBanking05-03Soln/nbproject/private/
/classwork_javaA/EnumBanking05-03Soln/build/
/classwork_javaA/ProductSalesInteface02/nbproject/private/
/classwork_javaA/AnonymousInnerClasses/nbproject/private/
/classwork_javaA/AnonymousInnerClasses/build/
/classwork_javaA/chapter15/target/
/classwork_javaA/Chapter_16/target/
/classwork_javaA/Chapter18/target/